# Dependencies
/vendor
composer.lock

# OS / editor cruft
.DS_Store
Thumbs.db

# Test artifacts
/tests/_output/*
!/tests/_output/.gitkeep
/tests/_craft/storage/*
!/tests/_craft/storage/logs
!/tests/_craft/storage/runtime
/tests/_craft/storage/logs/*
!/tests/_craft/storage/logs/.gitkeep
/tests/_craft/storage/runtime/*
!/tests/_craft/storage/runtime/.gitkeep
/tests/_craft/config/project
/tests/_support/_generated
